body{
    margin: 0;
    border: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('./Imagens/jefferson-santos-9SoCnyQmkzI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

header{
    height: 2vh;
    background-color: #0a75c0;
}

.texto{
    margin-left: 20%;
}

.topo-site{
    display: flex;
    align-items: center;
    margin-top: 9%;
}
.criacao-nome{
    display: flex;
    align-items: center;
}
.criacao-nome h1{
    font-size: 70px;
    color: white;
    text-shadow: 1px 2px 2px 2px black;
}

.criacao-nome h1:nth-child(1){
    color: #0a75c0;
}
.topo-site h2{
    color: white;
    font-size: 30px;
    margin-top: -40px;
    width: 500px;
}

.topo-site h2 i{
    color: #0a75c0;
}

h1:nth-child(1):before{
    content: "|";
    color: white;
    text-align: center;
}

#mensagem{
    background: none;
    width: 440px;
    margin-bottom: 40px;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid #0a75c0;
}

.mensagem-1{
    animation: mensagens-na-tela 1s ease-in-out;
    animation-fill-mode: forwards;
    margin-left: -12%;
}
.mensagem-2{
    animation: mensagens-na-tela 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-left: -100%;
}
.mensagem-3{
    animation: mensagens-na-tela 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    margin-left: -100%;
}

@keyframes mensagens-na-tela {
    0%{
        opacity: 0%;
        margin-left: -10%;
    }
    100%{
        margin-left: 20%;
        margin-bottom: 40px;
    }
}

#mensagem p{
    color: white;
    text-align: left;
    padding-top: 2%;
    font-size: 22px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.534);
}

.seta-para-baixo{
    margin-left: 30%;
    animation: animacao-seta 2s infinite ease-in-out;
    animation-direction: alternate;
}

.seta-para-baixo img{
    height: 100px;
    width: 100px;
}

@keyframes animacao-seta {
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(30px);
    }
}

#logo{
    margin-left: 20%;
    margin-bottom: -50px;
}