@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
body{
    margin: 0;
    border: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/Imagens/backgroundpag2.png');
    background-size: cover;
    background-repeat: repeat-x;
    background-size: 110%;
    background-position-x: -4px;
    height: 70vh;
    background-color: #091220;
}

#navbar {
    background-color: #0a75c0;
    color: #fff;
    padding-left: 20px;
    height: 55px;
}

#navbar h2, ul, li, nav{
    display: inline-block; /*ficar um do lado do outro*/
    
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 15px;
    font-size: 30px;
}

#navbar img {
    height: 50px;
    position: absolute; /*conseguir mexer onde eu quiser*/
    top: 5px;
}

#navbar nav {
    float: right; /*vai pra direita*/
}

#navbar ul{
    margin-top: 17px;
}

#navbar li {
    margin: 0 10px;
    padding-left: 30px;
    margin-right: 20px;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

.navbar-list li a:hover {
    border-bottom: 2px solid #285453; /*listra embaixo da palavra*/
}

.texto{
    margin-left: 20%;
}

#topo-site{
    display: flex;
    align-items: center;
    margin-top: 9%;
}
.criacao-nome{
    display: flex;
    align-items: center;
}
.criacao-nome h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px 2px black;
}

.criacao-nome h1:nth-child(1){
    color: #0a75c0;
}
#topo-site h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: -40px;
    width: 500px;
}

#topo-site h2 i{
    color: #0a75c0;
}

h1:nth-child(1):before{
    content: "|";
    color: white;
    text-align: center;
}

#mensagem{
    background: none;
    width: 440px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid #0a75c0;
}

.mensagem-1{
    animation: mensagens-na-tela 1s ease-in-out;
    animation-fill-mode: forwards;
    margin-left: -12%;
}
.mensagem-2{
    animation: mensagens-na-tela 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-left: -100%;
}
.mensagem-3{
    animation: mensagens-na-tela 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    margin-left: -100%;
}

@keyframes mensagens-na-tela {
    0%{
        opacity: 0%;
        margin-left: -10%;
    }
    100%{
        margin-left: 20%;
        margin-bottom: 40px;
    }
}

#mensagem p{
    color: white;
    text-align: left;
    padding-top: 2%;
    font-size: 22px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.534);
}

.seta-para-baixo{
    margin-left: 30%;
    animation: animacao-seta 2s infinite ease-in-out;
    animation-direction: alternate;
}

.seta-para-baixo img{
    height: 100px;
    width: 100px;
}

@keyframes animacao-seta {
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(30px);
    }
}

#logo{
    margin-left: 20%;
    margin-bottom: -50px;
}

#section-cards {
    background-color: #091220;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
   }
   
#section-cards h2{
   color: #fff;
   text-transform: uppercase;
   font-size: 30px;
   margin-top: 70px;
   }
   
.cards{
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   margin-bottom: 50px;
   }
   
.card{
   background-color: #494d53;
   width: 220px;
   height: 190px;
   margin-left: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
   border-radius: 20px;
   }
   
.card:hover{
   background-color: #104757;
   transition: 0.3s all;
   }
   
.card img{
   width: 60px;
   padding-bottom: 20px;
   }

#portfolio {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.slide {
    width: 1024px;
    height: 576px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides {
    display: flex;
    width: 5120px;
}

.imagens-slide img{
    width: 1024px;
    height: 100%;
}

#atual {
    transition: all 2s;
}

.balls {
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.balls div{
    transition: all 0.5s;
    border: 3px solid #1c1c1d;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover {
    background: #222222;
}

.imgAtual {
    transition: all 0.5s;
    background: #fff;
}

.titulo h2{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    font-size: 35px;
}

#negocios{
    position: absolute;
    width: 750px;
    display: flex;
    align-items:center;
    height: 7rem;
    margin-left: 30%;
    color: #fff;
    justify-content: space-between;
    margin-top: 2%;
}

.negocios-um h2{
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
    border-top: 3px solid #0a75c0;
    width: 160px;
}

.negocios-dois p{
    width: 500px;
}

#contrate {
    margin-top: 250px;
    height: 440px;
}

.divisor {
    width: 100%;
}

.aviao {
    position: absolute;
    height: 220px;
    padding-left: 10%;
}

.contrate-container {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
}

.contrate-container h2 {
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    font-style: normal;
}

.contrate-container p {
    color: #fff;
    font-weight: 400;
    width: 250px;
    font-size: 20px;
    margin-top: -23px;
}
.login{
    margin-top: 90px;
}

.login button{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 60px;
    width: 130px;
    cursor: pointer;
    background: linear-gradient(90deg, #2C7AED 0%, #4BC3CC 100%);

}

.login a {
    text-decoration: none;
    color: #fff;
}

.footer {
    display: flex;
    align-items: center;
    width: 40%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    height: 9vh;
}

.footer-redes {
    height: 25px;
    margin-bottom: -50px;
}

.footer-redes img{
    cursor: pointer;
}

.footer-redes .img-2, .img-3{
    margin-left: 12px;
}

.footer-paragrafo {
    margin-bottom: -50px;
}